![original_Logo_little_small.jpg]()

## Nome: VICTOR HUGO PEREIRA GOMES
## Turma: 0323

# Assignement - Python

O arquivo ***titanic.csv*** contém informações sobre os passageiros do Titanic. Escreva o código para satisfazer os seguintes requisitos:

[DataSource](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv)

1. Função que exibe características do DataFrame (10 pts)

  * Dimensões do DataFrame (2 pts)
  * Número de elementos (2 pts)
  * Nomes de colunas e linhas (2 pts)
  * Tipos de dados das colunas (2 pts)
  * Primeiras e últimas 10 linhas (2 pts)

2. Exibir passageiros agrupados de acordo com cada classe (10 pts)

3. Exibir linhas pares do DataFrame (10 pts)

4. Nomes das pessoas na primeira classe em ordem alfabética (10 pts)

5. Porcentagem de pessoas que sobreviveram e morreram, agrupadas por gênero (10 pts)

6. Porcentagem de pessoas que sobreviveram em cada classe, agrupadas por local de embarque (10 pts)

7. Remoção de passageiros com idade desconhecida (5 pts) (Uso o mesmo dataframe para as proximas questoes.

8. Média de idade das mulheres em cada classe, agrupadas por local de embarque (10 pts)

9. Adição de coluna booleana para identificar menores de idade (5 pts)

10. Porcentagem de menores e adultos que sobreviveram em cada classe, agrupadas por local de embarque (10 pts)

11. Avaliação do uso do ChatGPT (10 pts)

  * Resumo das perguntas feitas ao ChatGPT e insights obtidos (3 pts)
  * Exemplos de como o ChatGPT ajudou a resolver problemas ou melhorar o código (3 pts)
  * Desafios enfrentados ao usar o ChatGPT e como foram superados (4 pts)


[Referência adicional](https://pandas.pydata.org/docs/dev/getting_started/intro_tutorials/02_read_write.html)

In [1]:
import pandas as pd

df_titanic = pd.read_csv(
    filepath_or_buffer='https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv'
)

display(df_titanic)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# QUESTÃO 1

##  Função que exibe características do DataFrame 

  * Dimensões do DataFrame (2 pts)
  * Número de elementos (2 pts)
  * Nomes de colunas e linhas (2 pts)
  * Tipos de dados das colunas (2 pts)
  * Primeiras e últimas 10 linhas (2 pts)

### RESPOSTAS

####  ⭕  Dimensões do DataFrame

In [5]:
#Dimensões do DataFrame (2 pts)

dimensao = df_titanic.ndim
print(f" O DataFrame titanic é de {dimensao} dimensões ")

 O DataFrame titanic é de 2 dimensões

#### ⭕ Número de elementos

In [4]:
#Número de elementos (2 pts)

num_elementos = df_titanic.size
print(f"O DataFrame Titanic possui {num_elementos} elementos")

O DataFrame Titanic possui 10692 elementos

#### ⭕ Nomes de colunas e linhas

In [3]:
#Nomes de colunas e linhas (2 pts)
print("\nEsse são os nomes das colunas do DataFrame Titanic\n" )


col_names = pd.DataFrame(columns=df_titanic.columns)
display(col_names)


print("\nEsse são os nomes das Linhas do DataFrame Titanic\n" )
for row in df_titanic.index:
    print(row, end = " ")

Esse são os nomes das colunas do DataFrame Titanic

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Esse são os nomes das Linhas do DataFrame Titanic

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890

#### ⭕ Tipos de dados das colunas

In [6]:
#Tipos de dados das colunas (2 pts)


display(df_titanic.dtypes.to_frame().reset_index().rename(columns={'index': 'Colunas', 0: 'Tipos de dados'}))

        Colunas Tipos de dados
0   PassengerId          int64
1      Survived          int64
2        Pclass          int64
3          Name         object
4           Sex         object
5           Age        float64
6         SibSp          int64
7         Parch          int64
8        Ticket         object
9          Fare        float64
10        Cabin         object
11     Embarked         object

#### ⭕ Primeiras e últimas 10 linhas

In [7]:
#Primeiras e últimas 10 linhas (2 pts)

print("\n PRIMEIRA 10 LINHAS DO DATAFRAME TITANIC\n")
display(df_titanic.head(10))

print("\n ULTIMAS 10 LINHAS DO DATAFRAME TITANIC\n")
display(df_titanic.tail(10))

 PRIMEIRA 10 LINHAS DO DATAFRAME TITANIC

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

 ULTIMAS 10 LINHAS DO DATAFRAME TITANIC

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# QUESTÃO 2

## Exibir passageiros agrupados de acordo com cada classe

### RESPOSTA

In [8]:
#Exibir passageiros agrupados por Classe em ordem crescente

display(df_titanic.sort_values(by=['Pclass'], ascending = True))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# QUESTÃO 3

## Exibir linhas pares do DataFrame

### RESPOSTA

In [ ]:
# Exibir linhas pares do DataFrame

print("\n  DATAFRAME TITANIC EXIBINDO APENAS AS LINHAS PARES \n")

display(df_titanic.iloc[::2])

  DATAFRAME TITANIC EXIBINDO APENAS AS LINHAS PARES

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# QUESTÃO 4

##  Nomes das pessoas na primeira classe em ordem alfabética

### RESPOSTA

In [ ]:
# Data frame filtrado pelo nome das pessoas na primeira classa em ordam alfabetiCa

print("\n  DATAFRAME TITANIC EXIBINDO PRIMEIRA CLASSE POR ORDEM ALFABETICA DOS PASSAGEIROS \n")

display(df_titanic.loc[df_titanic['Pclass'] == 1].sort_values('Name', ascending = True))

  DATAFRAME TITANIC EXIBINDO PRIMEIRA CLASSE POR ORDEM ALFABETICA DOS PASSAGEIROS

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
555,556,0,1,"Wright, Mr. George",male,62.00,0,0,113807,26.5500,NaN,S
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C

# QUESTÃO 5

## Porcentagem de pessoas que sobreviveram e morreram, agrupadas por gênero (10 pts)

### RESPOSTA

In [10]:
# Porcentagem de pessoas que sobreviveram e morreram, agrupadas por gênero (10 pts)


#  Imprime uma mensagem para indicar que será exibido um dataframe com informações sobre a porcentagem de pessoas que 
#  sobreviveram e morreram por gênero.
print("\nDATAFRAME DA PORCENTAGEM DE PESSOAS QUE SOBREVIVERAM E MORRERAM POR GÊNERO\n")

#  Cria um objeto DataFrame que agrupa os dados do DataFrame 
#  "df_titanic" por "Survived" e "Sex", calcula a porcentagem de pessoas
#  que sobreviveram e morreram por gênero e, em seguida, multiplica por 100 para obter um valor percentual.

sobreviventes = df_titanic.groupby('Survived')['Sex'].value_counts(normalize=True) * 100

#  Renomeia a coluna "value" para "%" e redefine os índices do objeto 
#  DataFrame "sobreviventes" para ser uma coluna no DataFrame "resultado".

resultado = sobreviventes.rename('%').reset_index()

# Arredonda o valor da coluna "%" para duas casas decimais.
resultado['%'] = resultado['%'].round(2)

# Renomeia as colunas "Survived" e "Sex" para "Sobreviveram" e "Sexo", respectivamente, no objeto DataFrame "resultado".
resultado = resultado.rename(columns={'Survived': 'Sobreviveram', 'Sex': 'Sexo'})

# Substitui os valores "0" e "1" na coluna "Sobreviveram" por "NÃO" e "SIM", respectivamente, 
# e substitui os valores "male" e "female" na coluna "Sexo" por "masculino" e "feminino", respectivamente.
resultado.replace({'Sobreviveram': {0: 'NÃO', 1: 'SIM'},'Sexo': {'male': 'masculino', 'female': 'feminino'}}, inplace=True)

# Exibe o objeto DataFrame "resultado" na saída do programa.
display(resultado)

DATAFRAME DA PORCENTAGEM DE PESSOAS QUE SOBREVIVERAM E MORRERAM POR GÊNERO

  Sobreviveram       Sexo      %
0          NÃO  masculino  85.25
1          NÃO   feminino  14.75
2          SIM   feminino  68.13
3          SIM  masculino  31.87

# QUESTÃO 6


---

## Porcentagem de pessoas que sobreviveram em cada classe, agrupadas por local de embarque

### RESPOSTA

In [13]:
## Porcentagem de pessoas que sobreviveram em cada classe, agrupadas por local de embarque

print("\nDATAFRAME DA PORCENTAGEM DE PESSOAS QUE SOBREVIVERAM EM CADA CLASSE POR LOCAL DE EMBARQUE \n")

# Filtra o DataFrame para obter as linhas de sobreviventes e calcula a porcentagem de sobreviventes por classe e local de embarque.
sobreviventes_classe = df_titanic[df_titanic['Survived'] == 1].groupby('Embarked')['Pclass'].value_counts(normalize=True) * 100

# Renomeia as colunas e reorganiza o DataFrame para apresentar a porcentagem de sobreviventes por classe e local de embarque.
resultado = sobreviventes_classe.rename('%').reset_index()
resultado['%'] = resultado['%'].round(2)
resultado = resultado.rename(columns={'Pclass': 'Classe', 'Embarked': 'Local de Embarque'})

# Exibe o DataFrame "resultado".
display(resultado)

DATAFRAME DA PORCENTAGEM DE PESSOAS QUE SOBREVIVERAM EM CADA CLASSE POR LOCAL DE EMBARQUE

  Local de Embarque  Classe      %
0                 C       1  63.44
1                 C       3  26.88
2                 C       2   9.68
3                 Q       3  90.00
4                 Q       2   6.67
5                 Q       1   3.33
6                 S       2  35.02
7                 S       1  34.10
8                 S       3  30.88

# QUESTÃO 7
---

## Remoção de passageiros com idade desconhecida

### RESPOSTA

In [14]:
## Remoção de passageiros com idade desconhecida

print("\n NOVO DATAFRAME COM REMOÇÃO DE PASSAGEIRSOS COM IDADE DESCONHECIDA \n")

# Cria um novo DataFrame chamado "novo_titanic" a partir do DataFrame "df_titanic".
# Remove todas as linhas que possuem valores faltantes (NaN) na coluna "Age".
novo_titanic = df_titanic.dropna(subset=['Age'])

# Exibe o novo DataFrame "novo_titanic".
display(novo_titanic)

 NOVO DATAFRAME COM REMOÇÃO DE PASSAGEIRSOS COM IDADE DESCONHECIDA

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# QUESTÃO 8

---

## Média de idade das mulheres em cada classe, agrupadas por local de embarque

### RESPOSTA

In [15]:
## Média de idade das mulheres em cada classe, agrupadas por local de embarque

print("\nDATAFRAME COM A MEDIA DA IDADE DAS MULHERES EM CADA CLASSE AGRUPADO POR PORTÃO DE EMBARQUE \n")

# Cria um novo DataFrame "sobreviventes" agrupando os dados por gênero e sobrevivência.
# Calcula a porcentagem de sobreviventes e de mortos para cada gênero.
sobreviventes = df_titanic.groupby('Survived')['Sex'].value_counts(normalize=True) * 100

# Renomeia a coluna com as porcentagens para facilitar a leitura.
# Arredonda os valores das porcentagens para duas casas decimais.
# Renomeia as colunas "Survived" e "Sex" para "Sobreviveram" e "Sexo", respectivamente.
# Substitui os valores numéricos da coluna "Sobreviveram" por "SIM" e "NÃO".
# Substitui os valores "male" e "female" da coluna "Sexo" por "masculino" e "feminino".
resultado = sobreviventes.rename('%').reset_index()
resultado['%'] = resultado['%'].round(2)
resultado = resultado.rename(columns={'Survived': 'Sobreviveram', 'Sex': 'Sexo'})
resultado.replace({'Sobreviveram': {0: 'NÃO', 1: 'SIM'},'Sexo': {'male': 'masculino', 'female': 'feminino'}}, inplace=True)

# Exibe o DataFrame "resultado".
display(resultado)

DATAFRAME COM A MEDIA DA IDADE DAS MULHERES EM CADA CLASSE AGRUPADO POR PORTÃO DE EMBARQUE

  Sobreviveram       Sexo      %
0          NÃO  masculino  85.25
1          NÃO   feminino  14.75
2          SIM   feminino  68.13
3          SIM  masculino  31.87

# QUESTÃO 9

## Adição de coluna booleana para identificar menores de idade

### RESPOSTA

In [17]:
## Adição de coluna booleana para identificar menores de idade

print("\n COPIA DO DATAFRAME TITANIC COM ADIÇAO DE UMA NOVA COLUNA VERIFICANDO SE É MENOR DE IDADE \n")

#Faz uma copia do df_titanic
novo_titanic = df_titanic.copy()

#cria uma nova coluna (menor_idade)  que verifica se é menor que 18 anos
novo_titanic.loc[:, 'menor_idade'] = novo_titanic['Age'] < 18

display(novo_titanic)

 COPIA DO DATAFRAME TITANIC COM ADIÇAO DE UMA NOVA COLUNA VERIFICANDO SE É MENOR DE IDADE

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,menor_idade
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,False

# QUESTÃO 10

##Porcentagem de menores e adultos que sobreviveram em cada classe, agrupadas por local de embarque

### RESPOSTA

In [29]:
print("\n DATAFRAME COM A PORCENTAGEM DE MENORES E ADULTOS QUE SOBREVIVERAM EM CADA CLASSE, AGRUPADA POR LOCAL DE EMBARQUE \n")

# Cria um novo DataFrame "sobrevivente_idade" com as colunas "Embarked", "Pclass", "Survived" e "menor_idade".

sobrevivente_idade = novo_titanic[['Embarked', 'Pclass', 'Survived', 'menor_idade']]

# Agrupa os dados por "Embarked", "Pclass" e "menor_idade", e calcula a soma de "Survived".
# Calcula a porcentagem de sobreviventes em relação ao total de passageiros para cada grupo.
# Arredonda os valores das porcentagens e renomeia a coluna com os valores somados de "Survived" para facilitar a leitura.

grupo = sobrevivente_idade.groupby(['Embarked', 'Pclass', 'menor_idade'], group_keys=False)['Survived'].sum()
resultado = grupo.groupby(level=[0, 1], group_keys=False).apply(lambda x: 100 * x / float(x.sum()))

resultado = grupo.rename('%').reset_index()



# Renomeia as colunas "Pclass" e "Embarked" para "Classe" e "Local de Embarque", respectivamente.
# Substitui os valores "True" e "False" da coluna "menor_idade" por "SIM" e "NÃO", respectivamente.

resultado = resultado.rename(columns={'Pclass': 'Classe', 'Embarked': 'Local de Embarque'})
resultado.replace({'menor_idade': {False: 'NÃO', True: 'SIM'}}, inplace=True)

# Exibe o DataFrame "resultado".
display(resultado.style.format({'%': '{:.2f}%'}))

 DATAFRAME COM A PORCENTAGEM DE MENORES E ADULTOS QUE SOBREVIVERAM EM CADA CLASSE, AGRUPADA POR LOCAL DE EMBARQUE

In [ ]:
# QUESTÃO 11

#Avaliação do uso do ChatGPT (10 pts)

  * Resumo das perguntas feitas ao ChatGPT e insights obtidos (3 pts)
  * Exemplos de como o ChatGPT ajudou a resolver problemas ou melhorar o código (3 pts)
  * Desafios enfrentados ao usar o ChatGPT e como foram superados (4 pts)

###RESPOSTAS
⭕ **Resumo das perguntas feitas ao ChatGPT e insights obtidos (3 pts)**
   
   Em geral as perguntas que fiz ao CHAT GPT, foram sobre sintaxe, muitas vezes me confundo com o lugar de algum (, [, { e algumas outras coisas, e acabo recebendo uma mensagem de erro, quando passo para ele essa mensagem de erro, ele me mostra algum exemplo de como seria correto, e eu adpto ao codigo que estou tentando fazer. Muitas vezes da certo.

***Pedi para o CHAT GPT fazer um resumo do que perguntei a ele, dentro da pasta de perguntas e respostas que foram feitas para responder a atividade e ele resumiu assim:***



Durante a nossa conversa , foram realizadas perguntas sobre a sintaxe da linguagem Python. O usuário teve dificuldades em identificar a localização de caracteres como parênteses, colchetes e chaves, o que muitas vezes resultava em erros de código. O ChatGPT foi capaz de fornecer exemplos de como a sintaxe correta deveria ser, permitindo que o usuário corrigisse o código com sucesso.

Além disso, o usuário fez perguntas sobre como trabalhar com o Pandas, uma biblioteca popular de manipulação de dados em Python. Em particular, o usuário procurou ajuda para adicionar uma coluna booleana a um DataFrame com base em outra coluna existente, agrupar dados com base em várias colunas e calcular porcentagens com duas casas decimais. O ChatGPT forneceu exemplos e orientações detalhadas sobre como realizar essas tarefas usando o Pandas.

No geral, a conversa com o ChatGPT permitiu que o usuário resolvesse problemas específicos de sintaxe e aprendesse a usar recursos úteis do Pandas.


⭕ **Exemplos de como o ChatGPT ajudou a resolver problemas ou melhorar o código (3 pts)**

O ChatGPT tem sido uma ferramenta valiosa para melhorar o meu código e resolver problemas de programação. Em uma situação específica, ele me ajudou a formatar a sintaxe necessária para agrupar colunas com o Pandas e renomear colunas. Além disso, também esclareceu minhas dúvidas sobre o método groupby, que foi extensivamente utilizado neste exercício.

Em resumo, o ChatGPT acelerou meu processo de resolução de problemas, permitindo que eu avançasse rapidamente na tarefa e superasse as dificuldades encontradas. Através da sua vasta base de conhecimento e capacidade de resposta rápida, o ChatGPT se tornou uma ferramenta essencial para melhorar minha codificação e desenvolver minhas habilidades de programação.


⭕ **Desafios enfrentados ao usar o ChatGPT e como foram superados (4 pts**

A maior dificuldade para usar o chat GPT é fazer a pergunta da forma correta, como não queria que ele me desse a  resposta da pergunta não podia passar tantas inforções pra ele. Então limitei a perguntar quando aparecia algum erro no meu codigo, apos tentar resolver de varias formas e pesquisar na internet antes. Com o tempo e a prática, é possível formular perguntas mais eficazes e obter respostas mais precisas e úteis, e ele como sempre exemplifica bastante a resposta, fazendo com que a duvida seja sanada rapidamente.

![1631547233543.jfif]()